name: Flutter CI + CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. Забираем код
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Устанавливаем Flutter
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.29.3"

      # 3. Проверка версии
      - name: Flutter version
        run: flutter --version

      # 4. Зависимости
      - name: Install dependencies
        run: flutter pub get

      # 5. Тесты
      - name: Run tests
        run: flutter test

      # 6. Сборка Web
      - name: Build web
        run: flutter build web --release --base-href "/BookStore-Plus/"

      # 7. Deploy
      - name: Deploy to itschillipill.github.io/BookStore-Plus
        uses: peaceiris/actions-gh-pages@v4
        with:
          personal_token: ${{ secrets.PAGES_DEPLOY_TOKEN }}
          external_repository: itschillipill/itschillipill.github.io
          publish_dir: build/web
          destination_dir: BookStore-Plus
          publish_branch: main